<div class="head">
    <div class="firstline">1</div>
    <div class="secondline">
        <span class="logo">SOSA</span>
        <input type="search">
        <fa-icon class="search" [icon]="search"></fa-icon>
        <fa-icon class="userIcon" [icon]="faUser" routerLink="form" (click)="clearBasketStats()"></fa-icon>
        <span class="user">{{user.login}}</span>
        <fa-icon *ngIf="isUserLoged()" class="exit" [icon]="exit" (click)="leave()"></fa-icon>
        <fa-icon *ngIf="user.isAdmin" class="userIcon" [icon]="conf" routerLink="conf"></fa-icon>
        <fa-icon class="userIcon" [icon]="basket" routerLink="basket" ></fa-icon>
        <span *ngIf="inBasket != 0" class="count" ngDefaultControl [(ngModel)]="inBasket">{{inBasket}}</span>
    </div>
    <div class="thirdline">
        <span class="box">Новинки</span>
        <span>Одежда</span>
        <span>Обувь</span>
        <span>Для спорта</span>
        <span>Аксессуары</span>
        <span>Модно в этом сезоне</span>
        <span>Topshop</span>
        <span>Лицо и тело</span>
        <span>Бренды</span>
        <span class="box">Outlet</span>
        <span>Marketplace</span>
    </div>
</div>
<table>
    <thead>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td>{{user.password}}</td>
            <td>{{user.isAdmin}}</td>
        </tr>
    </tbody>
</table>
<button (click)="boom()">get full database</button>
<button (click)="getFullProductDB()">get full database</button>
<table>
    <tbody>
        <tr class="qwerty">
            <td class="product" ngDefaultControl [(ngModel)]="products" *ngFor="let image of imgdata; let i = index">
                <img [src]="image"><td>{{products[i].name}}</td>{{products[i].price}}
                <button ngDefaultControl [(ngModel)]="user" *ngIf="user.id===0" class="buy" routerLink="form">Купить</button>
                <button ngDefaultControl [(ngModel)]="user" *ngIf="user.id!=0" class="buy" 
                    (click)="addToBasket(products[i], i)" [(ngModel)]="battonValue">{{battonValue[i]}}</button>
            </td>
        </tr>
    </tbody>
</table>